<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

	<!-- <bean/> definitions here -->

	<bean name="emp" class="com.model.Employee">
		<property name="name" value="Himanshu" />
		<property name="gender" value="Male" />
		<property name="id" value="1" />
		<property name="salary" value="3434209" />
	</bean>


</beans>